:root {
	--dark-gray: #525252;
	--gold: #ecbd16;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5rem auto;
	font-size: 16pt;
	font-family: "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
	background-color: #e3e3e3;
}

.pomodoro {
	width: 50%;
	height: 50%;
	display: flex;
	color: white;
	flex-direction: column;
}

.pomodoro > * {
	width: 100%;
}

.pom-menu,
.timer-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.pom-menu li,
.timer-controls li {
	display: inline-block;
	width: calc(100% / 3) - 1rem;
	text-align: center;
}

.pom-menu button,
.timer-controls button {
	width: 100%;
	height: 40px;
	padding: 8px 20px;
	border: 2px solid #111;
	color: white;
	background-color: var(--dark-gray);
	cursor: pointer;
}

.pom-menu li:not(:first-child) button {
	border-left: none;
}

.timer-controls li {
	margin: 0 1rem;
}

.timer-controls button {
	border: none;
}

.pom-btn.active {
	background-color: var(--gold);
	color: black;
	font-weight: bold;
	border-bottom: none;
}

.timer-box {
	background-color: var(--dark-gray);
	padding: 30px;
	text-align: center;
}

.timer-text {
	font-size: 3rem;
}

.timer-clock {
	width: 220px;
	height: 220px;
	border: 8px solid var(--gold);
	border-radius: 50%;
	margin: 30px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.timer-controls button {
	color: black;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2pt;
}

button#start {
	background-color: var(--gold);
}

button#stop {
	background-color: tomato;
}

button#reset {
	background-color: lightslategray;
}

.pom-menu button:hover,
.timer-controls button:hover,
button#start:hover,
button#stop:hover,
button#reset:hover {
	color: black;
	background-color: #fefefe;
}

@media screen and (max-width: 769px) {
	.timer-controls {
		display: block;
	}
	.timer-controls li {
		margin: 5px 0;
		width: 100%;
	}
}
